body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
.container {
    max-width: 1240px;
    margin: auto;
}

.hero {
    background: url(../images/images1.png) 0 0 / cover;
    height: 720px;
}
.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__logo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.header__btn {
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.header__btn1 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    background: none;
    width: 90px;
    height: 36px;
    border-radius: 40px;
    border: 2px solid #fff;
}

.hero__info {
    padding: 249px;
    text-align: center;
    margin: 0;
}

.hero__info-title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
}
.hero__pre-title {
    color: #f7f3f2;
    font-size: 24px;
    line-height: 24.5px;
}
.hero__button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 225px;
    height: 40px;
    border-radius: 40px;
    background: #ff4e50;
    border: none;
}

@media screen and (max-width: 320px) {
    .header__logo {
        display: none;
    }

    .header__info {
        display: flex;
        justify-content: center;
    }
}
