body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
.container {
    max-width: 1240px;
    margin: auto;
}

.hero {
    background: url(../images/images1.png) 0 0 / cover;
    min-height: 720px;
}
.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__logo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.header__btn {
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.header__btn1 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    background: none;
    width: 90px;
    height: 36px;
    border-radius: 40px;
    border: 2px solid #fff;
}

.hero__info {
    padding: 249px;
    text-align: center;
    margin: 0;
}

.hero__info-title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
}
.hero__pre-title {
    color: #f7f3f2;
    font-size: 24px;
    line-height: 24.5px;
}
.hero__button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 225px;
    height: 40px;
    border-radius: 40px;
    background: #ff4e50;
    border: none;
}

.Now__header-title {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}

.now__blocks {
    padding: 0;
    margin: 35px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    position: relative;
}

.now__block__img-wrap img {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    object-fit: cover;
}

.now__block-button {
    position: absolute;
    top: 219px;
    left: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 40px;
    background: #ff4e50;
}

.Now__block__info-title {
    position: absolute;
    top: 254px;
    left: 25px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    width: 250px;
}

.Now__block__info-text {
    position: absolute;
    top: 322px;
    left: 25px;
    width: 250px;
    color: #e3e3e3;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

.now__block-button1 {
    position: absolute;
    top: 250px;
    margin-left: 25px;
    width: 70px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 40px;
    background: #ff4e50;
    border: none;
}

.Now__block__info-title1 {
    position: absolute;
    top: 284px;
    margin-left: 25px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.Now__block__info-text1 {
    position: absolute;
    top: 322px;
    margin-left: 25px;
    width: 250px;
    color: #e3e3e3;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

.now__block-button2 {
    position: absolute;
    top: 219px;
    margin-left: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 70px;
    height: 20px;
    border-radius: 40px;
    background: #ff4e50;
    border: none;
}
.Now__block__info-title2 {
    position: absolute;
    top: 254px;
    margin-left: 25px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    width: 250px;
}

.Now__block__info-text2 {
    position: absolute;
    top: 322px;
    bottom: 21px;
    margin-left: 25px;
    color: #e3e3e3;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    width: 250px;
}

.header__partners {
    display: flex;
    justify-content: center;
}

.partners__blocks {
    list-style: none;
    display: grid;

    gap: 116px;
    grid-template-columns: repeat(4, 1fr);
}

.partners__block-title {
    padding: 0;
    color: #444;
    font-size: 14px;
    font-weight: 700;
}
.partners__block-text {
    color: #666;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.partners__button {
    display: flex;
    justify-content: center;
}
.partners__btn {
    color: #ff4e50;
    font-size: 14px;
    font-weight: 700;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #ff4e50;
    background: #fff;
}
@media screen and (max-width: 320px) {
    .header__logo {
        display: none;
    }

    .header__info {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .hero__info {
        max-width: 320px;
    }
}
@media screen and (max-width: 500px) {
    .Now__neader-title {
        display: flex;
        justify-content: center;
    }
}
